<nav class="flex items-center justify-between mb-10">
  <img src="assets/image/navbar-logo.png" alt="Logo">
  <div>
      <a href="about.html"><button class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md 
              rounded-md hover:bg-gray-700 hover:text-white active:bg-gray-700 active:text-white">
              About Me
          </button></a>
      <a href="index.html"><button
              class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md 
              rounded-md hover:bg-gray-700 hover:text-white focus:text-white active:bg-gray-700 active:text-white">
              Resumé</button></a>
  </div>
</nav>